*{
    padding: 0;
    margin: 0;
}
.App{
    min-height: 100vh;
    background-color: #DFF6FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.top{
    display: flex;
    flex-direction: row;
    height: 730px;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}
.IntroAndExperience{
    height: 690px;
    width: 1090px;
    overflow:hidden;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}
.bottom{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    align-items: flex-start;
}
